<%- contentFor('head') %>
<title><%= user.firstname %> <%= user.lastname %></title>

<%- contentFor('body') %>
<body>
        <h2 id="welcome">Welcome, <span id="user-name"><%= user.firstname %></span>!</h2>
        <p>I use this domain to host various things. The lack of a sexy aesthetic IS the aesthetic. I'm a minimalist (lazy). For now, an account lets you add your name to the birthday list. More features to come!</p>
        <div id="user-area">
            <p>You're signed in.</p>
            <button onclick="logout()">Sign out</button>
        </div>
        <a href="/manage-profile"><h3>Manage Your Profile</h3></a>
        <h3>You should check out <a href="/birthdays">the birthday list!</a></h3>
        <p>Maybe you meant:</p>
        <div class="maybe-you-meant">
            <ul>
                <li><a href="/fourier">Fourier Visualization</a></li>
                <li><a href="mailto:markzakharyan@ucsb.edu">My Email</a></li>
                <li><a href="https://github.com/markzakharyan">My Github</a></li>
            </ul>
        </div>
</body>

<%- contentFor('scripts') %>
<script>
    function logout() {
        fetch('/logout', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                }
            });
    }
</script>