<%- contentFor('head') %>
<title>Set New Password</title>

<%- contentFor('body') %>
<body>
    <form action="/reset/<%= token %>" method="POST">
        <% if (typeof error !== 'undefined') { %>
            <p class="error"><%= error %></p>
        <% } %>

        <p id="passwordMatchError" class="error" style="display: none;">Passwords do not match.</p>

        
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        
        <button type="submit">Set New Password</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</body>

<%- contentFor('scripts') %>
<script>
    const form = document.getElementById('resetPasswordForm');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirm_password');
    const passwordMatchError = document.getElementById('passwordMatchError');

    function validatePasswords() {
        if (password.value !== confirmPassword.value) {
            password.classList.add('password-mismatch');
            confirmPassword.classList.add('password-mismatch');
            passwordMatchError.style.display = 'block';
            return false;
        } else {
            password.classList.remove('password-mismatch');
            confirmPassword.classList.remove('password-mismatch');
            passwordMatchError.style.display = 'none';
            return true;
        }
    }

    password.addEventListener('input', validatePasswords);
    confirmPassword.addEventListener('input', validatePasswords);

    form.addEventListener('submit', function(e) {
        if (!validatePasswords()) {
            e.preventDefault();
        }
    });
</script>